.container{
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: 120px 100px;
    grid-template-rows: 100px 100px 100px; */
    grid-template-areas: "nav nav nav"
                         "side article"
                         "footer footer footer";
}
.item{

    border: 2px solid red;
    height: 44px;
    
}
.item-1{
    grid-area: nav;
}
.item-2{
    grid-area: footer;
}
.item-3{
    grid-area: article;
}
.item-4{
}