*{
    margin:0;
    padding: 0;
}
.box{
    background-color: aqua;
}
.box1{
    color: rgb(19, 19, 10);
    padding:10px ;
    border: 10px solid black;
    margin: 10px 5px 10px 5px;

}
.box2{
    color: red;

}
